Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
Flask-Bcrypt==1.0.1
Flask-SocketIO==5.3.6
psycopg[binary]>=3.2
SQLAlchemy==2.0.31
python-socketio==5.11.3
python-engineio==4.9.1
eventlet==0.36.1
python-dotenv==1.0.1
Werkzeug==3.0.3
Jinja2==3.1.4